.services {
     background-color: #f9f9f9;
     padding: 50px 0;
   }
   
   .services__heading {
     font-size: 36px;
     font-weight: bold;
     text-align: center;
     margin-bottom: 50px;
   }
   
   .services__grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 50px;
     margin: 0 auto;
     max-width: 1000px;
   }
   
   .service {
     background-color: #05a0e8;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     padding: 30px;
     text-align: center;
     border-radius: 5px;
     font-family: "Helvatica";
   }
   
   .service__heading {
     font-size: 24px;
     font-weight: bold;
     margin: 20px 0;
   }
   
   .service__text {
     font-size: 18px;
     line-height: 1.5;
   }
   